:root {
    --background: #e9e1e1;
    --primary:#041575;
    --secondary:#21077c;
    --hover:#3249cc;
    --text:#333;
    --light:#fff;
    --footer-background:#041575;
    --footer-text:#fff;
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: #fff;
    --burger-margin:6px;
    --animation-time: 0.5s ease-in-out;
    --burger-height: calc(var(--bar-height)*3 + var(--hamburger-gap)*2);
    --transition:all 0.6s ease;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

.navigation-bar {
    position: sticky;
    height: 60px;
    width: 90%;
    background: var(--light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    padding: 12px 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    top: 0;
    
}
/* burger menu */
/* .burger-menu{
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    top: var(--burger-margin);
    left: var(--burger-margin);
    position: absolute;
    z-index: 2;
    cursor: pointer;
    margin-top: 10px;
}
.burger-menu:has(input:checked) {
    --foreground: white;
    --background: #333;
}
.burger-menu::before,
.burger-menu::after,
.burger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background: var(--foreground);
    border-radius: 50px;
    transform-origin: left center;
    transition: opacity var(--animation-time), width var(--animation-time), rotate var(--animation-time);
}
.burger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}
.burger-menu:has(input:checked)::before {
    rotate: 45deg;
}
.burger-menu:has(input:checked)::after {
    rotate: -45deg;
}

.burger-menu input:checked {
    width: 0;
    opacity: 0;
}

.burger-menu:has(input:focus-visible)::before,
.burger-menu:has(input:focus-visible)::after,
.burger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}

.sidebar {
    translate: -100%;
    transition: translate var(--animation-time);
    padding: .5rem 1rem;
    padding-top: calc(var(--burger-height) + var(--burger-margin) + 2rem);
    background: var(--foreground);
    color: var(--background);
    max-width: 10rem;
    min-height: 100vh;
}

.burger-menu:has(input:checked) + .sidebar {
    translate: 0;
} */


.navigation-bar .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    background: var(--light);

}
.end {
    display: flex;
    width: 15%;
    justify-content: space-between;
    background: var(--light);
    height: 100%;

}
.end .text{
    background: var(--light);
    cursor: pointer;
}
button {
    background: var(--primary);
    cursor: pointer;
    border-radius: 5px;
    height: 80%;
    outline: none;
    border: none;
    width: 40%;
    transition: var(--transition);

}
.navigation-bar .links a {
    text-decoration: none;
    color: var(--text);
    background: var(--light);
    transition: var(--transition);

}
.navigation-bar h3 {
    background: var(--light);
    color: #041575;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}
.navigation-bar p {
    display: none;
}
button:hover{
    background: var(--hover);
}
.navigation-bar .links a:hover {
    text-decoration: underline;
    color: var(--hover);
}

footer {
    background: var(--footer-background);
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    width: 100%;*/
    /* margin-top: 500px; */
    margin-bottom: 0;

}
footer section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--footer-background);
}
.us .info {
    display: flex;
    background: var(--footer-background);

}
.about-us .social {
    background: var(--footer-background);
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    padding: 1px 12px;
} 

 .social img {
    width: 10%;
    height: 50%;
    border-radius: 50px;
    display: flex;
    cursor: pointer;
}
.news-letter .mail {
    background: var(--footer-background);
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 30px;
    padding-right: 12px;
    cursor: pointer;
}
.about-us {
    background: var(--footer-background);
    width: 34%;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
.news-letter {
    background: var(--footer-background);
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;

}
.quick-links {
    background: var(--footer-background);
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

}
.quick-links a {
    background: var(--footer-background);
    text-decoration: none;
    color: var(--footer-text);
}
#btn {
    width: 20%;
    background: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: var(--transition);
    color: var(--footer-text);
}
#btn:hover {
    background: var(--hover);
}
.mail input {
    outline: none;
    border: none;
    border-radius: 6px;
    width: 70%;
}
.subscribe {
    width: 60%;
}
section h2 {
    background: var(--footer-background);
    color: var(--footer-text);
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.copyright {
    background: var(--footer-background);

}
footer section .bd {
    background: var(--footer-background);
    color: var(--footer-text);
    font-family: sans-serif;
}
footer .cpr {
    background: var(--footer-background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: var(--footer-text);
    font-family: sans-serif;
}
.nav-mobile {
    display: none;
}
@media (max-width: 768px) {
    .navigation-bar .links{
        display: none;
    }
    /* .nav-mobile .links {
        display: flex;
        flex-direction: column;
    }
    .nav-mobile .links a{
        background-color: var(--foreground);
        text-decoration: none;
        color: var(--light);
        line-height: 2rem;
    } */
    /* .social {
        display: flex;
        gap: 15px;
        margin-top: 15px;
    }
    .social-icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: var(--primary-color);
        color: white;
        border-radius: 50%;
        font-size: 20px;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }
    
    .social-icon:hover {
        background-color: var(--secondary-color);
        transform: translateY(-3px);
    } */
    .end {
        width: 40%;
    }
    .navigation-bar h3 {
        width: 60%;
    }
    .navigation-bar h3 {
        field-sizing: 20px;
    }
    #btn {
        width: 35%;
        padding-right: 5px;
    }
    .about-us {
        width: 100%;
    }
    footer section {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}
@media (max-width: 426px) {
    footer section {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    footer .cpr {
        font-size: 12px;
    }
    footer section .bd {
        font-size: 12px;
    }
    .about-us {
        width: 100%;
    }
}

